<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div>

    <form  th:action="@{/updateAV/}" th:object="${articleVideos}" method="post">
        <input type="hidden" th:value="*{id}" th:field="*{id}">
        <p>Titel</p>
        <input type="text" th:value="*{title}" th:field="*{title}" maxlength="35">
        <p>Paragraf</p>
        <textarea type="text" th:value="*{paragraf}" th:field="*{paragraf}" cols="50" rows="4"> </textarea>
        <input type="hidden" th:value="*{video}" th:field="*{video}">
        <input type="hidden" th:value="*{picture}" th:field="*{picture}">
        <input type="hidden" th:value="*{gif}" th:field="*{gif}">
        <input type="submit" value="Send">
    </form>

</div>

</body>
</html>